{% extends "UserBase.html" %}

{% block title %}Report{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card p-4 shadow-lg" style="width: 100%; max-width: 500px;">
        <form method="POST" action="" enctype="multipart/form-data">
            <h2 class="text-center mb-4">Report User</h2>
            {{ form.hidden_tag() }}

            <div class="mb-3"> 
                {{ render_field(form.reported_username, class="form-control") }}
            </div>

            <div class="mb-3"> 
                {{ render_field(form.report_type, class="form-control") }}
            </div>

            <div class="mb-3"> 
                {{ render_field(form.description, class="form-control") }}
            </div>
            <div class="mb-3"> 
                {{ render_field(form.recaptcha, class="form-control") }}
            </div>
            
            <div class="d-grid gap-2 mb-3"> {# d-grid makes button full width, gap-2 adds spacing #}
                <input type="submit" value="Report" class="btn btn-primary"/>
            </div>

        </form>
    </div>
</div>
{% endblock %}
